:root {
  font-size: 16px;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  min-height: 100dvh;
}

*,
::before,
::after {
  font-size: 1rem;
  box-sizing: border-box;
}